---
import Button from "@components/ui/Button.astro";
---

<section class="py-12 dark:bg-stone-950">
  <div class="container mx-auto my-20 px-10 sm:flex">
    <div class="sm:w-2/3">
      <p class="text-xl font-extrabold">About us</p>
      <h2 class="mb-6 text-4xl font-extrabold">
        We’ve been working with hardwood floors since 1999.
      </h2>
      <p class="text-xl">
        We only do hardwood flooring, and we've been trusted by luxury realtors
        and Parade of Homes owners to make each home look and feel amazing.
      </p>
    </div>
    <div class="ml-auto">
      <Button text="About us" href="/about" classes="btn-secondary" />
    </div>
  </div>
</section>
