---
import Button from "@components/ui/Button.astro"
import { Image } from "astro:assets"
---
<section class="container mx-auto px-10 my-20 flex">
  <div class="w-1/2">
    <h3 class="text-xl font-extrabold">About us</h3>
    <h2 class="text-4xl font-bold">We’ve been working in the industry for 20 years</h2>
  </div>
  <div class="ml-auto">
    <Button text="About us" href="/about" classes="btn-secondary"></Button>
  </div>
  <div clas="grid">
  </div>
</section>