---
// Components
import NavLink from '../../components/ui/NavLink.astro';
import Alert from '../../components/ui/Alert.astro';

// Content
import logo from '../../assets/images/logo.svg?raw';
import logoDark from '../../assets/images/logo-white.svg?raw';
---

<header>
  <Alert />
  <nav class="bg-white">
    <div class=" flex justify-between items-center container mx-auto p-5">
      <a href="/" aria-label="homepage" class="inline-block h-auto align-middle" data-navLink>
        <span class="inline-block w-auto pr-6 h-8 dark:hidden"><Fragment set:html={logo}></span>
        <span class="hidden w-auto pr-6 h-8 dark:inline-block"><Fragment set:html={logoDark}></span>
      </a>
      <div class="ml-auto mr-4">
      <NavLink
        href="/"
        data-navLink
        class="px-4 py-2 text-xl focus:ring-amber-700 outline-4 outline-amber-700 focus:ring-4 transition-colors hover:text-red-600">Home</NavLink
      >
      <NavLink
        href="/services"
        data-navLink
        class="px-4 py-2 text-xl focus:ring-amber-700 outline-4 focus:ring-4 transition-colors hover:text-red-600"
        >Services</NavLink
      >
      <NavLink
        href="/about"
        data-navLink
        class="px-4 py-2 text-xl focus:ring-amber-700 outline-4 focus:ring-4 transition-colors hover:text-red-600">About</NavLink
      >
      <NavLink
        href="/gallery"
        data-navLink
        class="px-4 py-2 text-xl focus:ring-amber-700 outline-4 focus:ring-4 transition-colors hover:text-red-600"
        >Gallery</NavLink
      ></div>
      <NavLink href="/contact" class="btn btn-primary" data-navLink>Get a quote</NavLink>
    </div>
  </nav>
</header>

<script>
  // Accessibility tool: add aria-current to current page nav links.
  const navLinks = document.querySelectorAll('[data-navLink]');

  navLinks.forEach((link) => {
    if (link.getAttribute('href') === window.location.pathname) {
      link.setAttribute('aria-current', 'page');
    }
  });


</script>
