---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <article class="container mx-auto lg:px-16">
    <h1>Our projects</h1>
  <p>
    Pictures will go here
  </p>
  </article>
</BaseLayout>
