---
import Button from '@components/ui/Button.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <section class="bg-stone-300 py-20 mx-10 px-5 rounded-md">
    <span data-type="topper">Quality & Affordability</span>
    <h1>Quality Hardwood Floor Installations & Repairs</h1>
    <p>
      We've been among the best hardwood floor companies in Colorado Springs for
      over 20 years!
    </p>
    <Button classes="btn-primary">Get a quote</Button>
  </section>
</BaseLayout>
