---
// Layout
import BaseLayout from '../layouts/BaseLayout.astro';

// Components
import Hero from '../components/content/HomeHero2.astro';
import About from '../components/content/HomeAbout.astro';
import Services from '../components/content/HomeServices2.astro';
import CTA from '../components/ui/CallToAction.astro';
---

<BaseLayout>
  <div class="overflow-x-hidden">
    <Hero />
    <About />
    <Services />
    <CTA />
  </div>
</BaseLayout>
