---
import Button from '@components/ui/Button.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';

// Content
import newInstall from '../assets/images/IMG_3381.jpg';
---

<BaseLayout>
  <section
    class="container mx-auto mb-12 rounded-2xl bg-stone-300 bg-cover bg-bottom bg-blend-overlay dark:bg-stone-900"
  >
    <div
      class="mx-auto max-w-screen-xl px-4 py-10 text-center lg:px-20 lg:py-40"
    >
      <h1
        class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-stone-900 dark:text-white md:text-5xl lg:text-6xl"
      >
        A wide range of wood floor services
      </h1>
      <p
        class="mb-8 text-xl text-black dark:text-stone-400 sm:px-16 lg:text-2xl xl:px-48"
      >
        When it comes to hardwood floors, we can do it all. If you have any
        questions, give us a call and we'll come over to discuss your project
        with a no-pressure conversation.
      </p>
      <div
        class="mb-8 space-y-4 sm:flex-row sm:justify-center sm:space-x-4 sm:space-y-0 lg:mb-16"
      >
        <Button
          text="Get a quote"
          classes="btn-primary"
          href="/contact"
          icon={{ name: 'tabler:arrow-right', side: 'right' }}
        />
      </div>
    </div>
  </section>

  <section class="overflow-x-hidden text-center dark:bg-stone-900">
    <div class="mx-auto max-w-screen-xl py-8 sm:py-16 md:px-4 lg:px-6">
      <div class="mx-auto mb-16 max-w-screen-md">
        <h2
          class="mb-4 text-4xl font-extrabold tracking-tight text-stone-900 dark:text-white"
        >
          Trusted services.
        </h2>
        <p class="text-stone-500 dark:text-stone-400 sm:text-xl">
          We've done it all, from the largest luxury homes in the city to condos
          and everything in between. If designers in <a
            href="https://springsparade.com/web/"
            target="_blank"
            rel="noreferrer noopener"
            class="text-red-800 underline hover:text-red-600"
            >the Parade of Homes</a
          > trust us, you can too.
        </p>
      </div>
      <div class="flex flex-col gap-12 md:text-left">
        <!-- Card 1 odd -->
        <div
          data-type="card"
          class="flex gap-12 rounded-2xl bg-white p-4 pb-12 shadow-2xl dark:bg-stone-800 max-md:flex-col max-md:items-center md:p-12"
        >
          <Image
            src={newInstall}
            alt="New install"
            width="600"
            class="rounded-xl shadow-lg max-sm:scale-[1.15] sm:max-md:-mt-12 md:-ml-20 md:max-w-[50%]"
          />
          <div class="flex flex-col max-md:items-center">
            <div
              class="mb-4 flex h-10 w-10 items-center justify-center rounded-full bg-red-100 dark:bg-red-900 max-sm:mx-auto lg:h-12 lg:w-12"
            >
              <Icon
                name="tabler:axe"
                class="size-6 text-red-800 dark:text-red-300"
              />
            </div>

            <h3 class="mb-2 text-2xl font-bold dark:text-white">
              New Installs
            </h3>
            <p class="text-stone-500 dark:text-stone-400">
              Bring fresh life to your home. We'll install the material and
              finish of your choice.
            </p>
          </div>
        </div>
        <!-- end card 1 -->
        <!-- Card 2 even -->
        <div
          data-type="card"
          class="flex flex-row-reverse gap-12 rounded-2xl bg-white p-4 pb-12 shadow-2xl dark:bg-stone-800 max-md:flex-col max-md:items-center md:p-12"
        >
          <Image
            src={newInstall}
            alt="New install"
            width="600"
            class="rounded-xl shadow-lg max-sm:scale-[1.15] sm:max-md:-mt-12 md:-mr-20 md:max-w-[50%]"
          />
          <div class="flex flex-col max-md:items-center">
            <div
              class="mb-4 flex h-10 w-10 items-center justify-center rounded-full bg-red-100 dark:bg-red-900 max-sm:mx-auto lg:h-12 lg:w-12"
            >
              <Icon
                name="tabler:axe"
                class="size-6 text-red-800 dark:text-red-300"
              />
            </div>

            <h3 class="mb-2 text-2xl font-bold dark:text-white">
              New Installs
            </h3>
            <p class="text-stone-500 dark:text-stone-400">
              Bring fresh life to your home. We'll install the material and
              finish of your choice.
            </p>
          </div>
        </div>
        <!-- end card 2 -->
      </div>
    </div>
  </section>
</BaseLayout>
