---
// Layout
import BaseHead from '../components/site/BaseHead.astro';
import Header from '../components/site/Header.astro';
import Footer from '../components/site/Footer.astro';

// Data
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title = SITE_TITLE, description=SITE_DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body
    class="bg-stone-100 text-stone-900 transition-colors dark:bg-stone-900 dark:text-stone-100">
    <a href="#main-content" class="sr-only focus:not-sr-only active:not-sr-only"
      >Skip to content</a
    >
    <Header />
    <main id="main-content" class="max-md:p-5">
      <slot>
        <h1>Under construction</h1>
        Header />
        <main id="main-content" class="max-md:p-5">
          <slot>
            <h1>Under construction</h1>
            Header />
            <main id="main-content" class="max-md:p-5">
              <slot>
                <h1>Under construction</h1>
                Header />
                <main id="main-content" class="max-md:p-5">
                  <slot>
                    <h1>Under construction</h1>
                    <p>No content found just yet...</p>
                  </slot>
                </main>
                <Footer />
              </slot>
            </main>
          </slot>
        </main></slot
      >
    </main></body
  >
</html>
