---
// Components
import DarkModeToggle from '../../components/ui/DarkModeToggle.astro';
import { SITE_PHONE, SITE_PHONE_HREF } from 'src/consts';
---

<div class="container mx-auto px-5 py-3">
  <div class="flex border-b border-b-stone-300 pb-3">
    <span class="text-stone-700 dark:text-stone-300 max-sm:hidden"
      >Give us a call:</span
    ><span class="hidden text-stone-700 dark:text-stone-300 max-sm:inline"
      >Tap to call:</span
    >
    <a
      href={SITE_PHONE_HREF}
      class="mr-auto px-2 font-bold text-stone-950 hover:text-amber-700 dark:text-stone-300 max-sm:-mt-1.5 max-sm:ml-2 max-sm:rounded-lg max-sm:bg-yellow-500 max-sm:px-3 max-sm:py-1 max-sm:hover:bg-yellow-600 max-sm:hover:text-white"
      >{SITE_PHONE}</a
    >
    <DarkModeToggle />
  </div>
</div>
