---
import { Icon } from 'astro-icon/components';
// required: npx add astro-icon

interface Props {
  text: string;
  href: string;
  style?: string;
  icon?: {
    name: string;
    side: 'left' | 'right';
  };
  isFilled?: boolean;
  borderVisible?: boolean;
  classes?: string;
}

const {
  text,
  href,
  style,
  icon,
  isFilled = false,
  borderVisible = false,
  classes,
  ...rest
} = Astro.props as Props;
---

<a
  href={href}
  class:list={[
    classes,
    'btn-' + style,
    { filled: isFilled, bordered: borderVisible },
    '*:transition-all *:hover:translate-x-2',
  ]}
  {...rest}
>
  {
    icon && icon.side === 'left' && (
      <Icon name={icon.name} class="mr-3 inline align-middle text-xl" />
    )
  }

  <slot>{text}</slot>

  {
    icon && icon.side === 'right' && (
      <Icon name={icon.name} class="ml-3 inline align-middle text-xl" />
    )
  }
</a>
